        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            line-height: 1;
            color: #000000;
            font-weight: 400;
            font-size: 10px;
            scroll-behavior: smooth;
        }
        
        body {
            background-image: url("../img/background.png");
            background-size: 250px 275px;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: bottom right;
        }
        
        .container {
            max-width: 1840px;
            display: flex;
            justify-content: space-between;
        }
        
        .header {
            background-color: #fff;
        }
        
        .header .container {
            align-items: center;
        }
        
        nav ul a {
            text-decoration: none;
        }
        
        nav li:first-child {
            margin-right: 20px;
        }
        
        .header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
        
        .header nav ul {
            display: flex;
            list-style: none;
        }
        
        .sidebar {
            position: sticky;
            top: 57px;
            margin-right: 20px;
            padding-left: 10px;
        }
        
        .sidebar a {
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #000000
        }
        
        .sidebar li {
            width: 230px;
        }
        
        .sidebar li:not(:last-child) {
            margin-bottom: 40px;
        }
        
        .sidebar li:after {
            content: "";
            height: 1px;
            display: flex;
            background-color: #BFBFBF;
            margin-top: 5px;
        }
        
        .main {
            margin-top: 57px;
        }
        
        h2 {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 20px;
        }
        
        h2::before {
            content: "";
            width: 40px;
            height: 6px;
            display: flex;
            background-color: #000000;
            ;
            margin-bottom: 10px;
        }
        
        .text p {
            font-weight: 400;
            font-size: 10px;
            color: #000000;
        }
        
        .text p:not(:last-child) {
            margin-bottom: 20px;
        }
        
        .text ul li {
            list-style: none;
            margin-bottom: 20px;
        }